abc.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns:x="http://example.com/myschema.xsd" elementFormDefault="qualified" targetNamespace="http://example.com/myschema.xsd" xmlns="http://www.w3.org/2001/XMLSchema"><complexType name="array"><sequence><element name="price"><simpleType><restriction base="decimal"><minInclusive value="0"/></restriction></simpleType></element><element name="name"><simpleType><restriction base="string"><minLength value="5"/><maxLength value="32"/></restriction></simpleType></element><element minOccurs="0" name="isExpired" type="boolean"/><element name="manufactured" type="dateTime"/></sequence></complexType></schema>